.toggle-button{
    -fx-background-color: #fc8403;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.toggle-button:hover{
    -fx-background-color: #FFFFFF;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.5, 1.0, 1.0);
    -fx-text-fill: #fc8403;
}
.button {
    -fx-background-color: #fc8403;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.button:hover{
    -fx-background-color: #FFFFFF;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.5, 1.0, 1.0);
    -fx-text-fill: #fc8403;
}
.tab-pane{
    -fx-background-color: #333333;
}
.root{
    -fx-background-color: #333333;
}
.text-field{
    -fx-background-color: #1c1c1c;
    -fx-text-fill: #FFFFFF;
}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #333333;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-background-color: #1c1c1c;
    -fx-pref-height: 35px;
    -fx-font-weight: bold;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: #FFFFFF;
}
.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 35px;
    -fx-font-weight: bold;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 1;
    -fx-border-color: #1c1c1c;
}
.combo-box {
    -fx-background-color: #1c1c1c;
}
.combo-box .list-cell {
    -fx-text-fill: #FFFFFF;
}
.combo-box .list-view .list-cell {
    -fx-background-color: #1c1c1c;
}
.combo-box .list-view .list-cell:hover {
    -fx-background-color: #333333;
}
